@font-face {
  font-family: Mooli;
  src: url("../../assets/fonts/Mooli-Regular.ttf");
}

:root {
  font-size: 18px;
  font-family: Mooli;
  font-weight: 400;
  $bg-primary: "#eef";
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
}

* {
  background-color: $bg-primary;
}

.nav-link {
  padding-right: 3rem;
  float: right;
}